.employee__name__age{
  float: left;
}
.list-group{
  list-style: none;
  float: left;
  cursor: pointer;
}
.form-control{
  border: 1px solid burlywood;
  line-height: 30px;
  width: 500px;
}
.list-group-item{
  border: 1px solid burlywood;
  line-height: 30px;
  width: 300px;
  margin-right: 30px;
}
.employeeForm{
  float: right;
}
.empDetails{
  list-style: none;
}
.empDetails li{
  margin-left: 420px;
}

.btn{
  float: right;
  font-size: 15px;
}
