<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<div class="navbar">
  <ul class="navbar-list">
    <li routerLinkActive="active current">
      <h3><a href="people">People</a></h3>
    </li>
    <li routerLinkActive="active current">
      <h3><a href="projects">Projects</a></h3>
    </li>
    <li routerLinkActive="active current">
      <h3><a href="employees">Employees</a></h3>
    </li>
    <!--<li routerLinkActive="active current">
      <h3><a href="error">Global Error</a></h3>
    </li>-->
  </ul>
</div>

<router-outlet></router-outlet>
